<footer class="bg-light">
  <div class="container pt-5">
    <div class="row">
      <div class="col-5">
        <h3>Olayinka</h3>
        <span class="d-flex">
          <a>Privacy Policy</a>
          <a class="px-5">Advertisement</a>
        </span>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-6">
            <a >About Us</a>
          </div>
          <div class="col-6">
            <a>Categories</a>
          </div>
        </div>
      </div>

      <div class="col-3">
        <h3>Join our Newsletter</h3>
        <form>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
