<footer class="bg-light">
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-3 ">
        <h3>Olayinka</h3>
      </div>
      <div class="col-md-5">
        <div class="d-flex justify-content-between">
          <div>
            <a >About Us</a>
          </div>
          <div>
            <a>Categories</a>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <a>Privacy Policy</a>
          <a >Advertisement</a>
        </div>
      </div>

      <div class="col-md-4">
        <h3 class="text-center">Join our Newsletter</h3>
        <form class="text-center">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
