<app-header [buttonText]="searchText"></app-header>

<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About</li>
      </ol>
    </nav>
    <h1 class="display-5 fw-bold">About us</h1>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <p>We're a very established blog app that brings you to different wonders and happenings all over the globe. We are always thrilled to have you visiting and enjoying our content</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui blanditiis ipsa modi itaque laborum debitis. Quaerat aspernatur voluptates molestias odio voluptatem iusto atque impedit qui optio, ipsum magnam neque voluptas quas. Eveniet porro deleniti possimus ducimus, ratione accusamus eum labore nobis, iusto, illo id error neque incidunt culpa harum! Magni molestiae dolore aperiam quasi at accusamus est voluptatum ratione error?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui blanditiis ipsa modi itaque laborum debitis. Quaerat aspernatur voluptates molestias odio voluptatem iusto atque impedit qui optio, ipsum magnam neque voluptas quas. Eveniet porro deleniti possimus ducimus, ratione accusamus eum labore nobis, iusto, illo id error neque incidunt culpa harum! Magni molestiae dolore aperiam quasi at accusamus est voluptatum ratione error?</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui blanditiis ipsa modi itaque laborum debitis. Quaerat aspernatur voluptates molestias odio voluptatem iusto atque impedit qui optio, ipsum magnam neque voluptas quas. Eveniet porro deleniti possimus ducimus, ratione accusamus eum labore nobis, iusto, illo id error neque incidunt culpa harum! Magni molestiae dolore aperiam quasi at accusamus est voluptatum ratione error?</p>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="assets/latest-image-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card mt-3">
        <img src="assets/latest-image-2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
